<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include ../partials/head %>

</head>
<body>
	
	<div class="app">
		
		<% include ../partials/menu %>
		
		<div class="section main_section">
			
			<h1>Plugins</h1>

			<div class="panel">

				

			</div>

		</div>
		
	</div>
	
</body>
</html>
