<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include ../partials/head %>

</head>
<body>
	
	<div class="app">
		
		<% include ../partials/menu %>
		
		<div class="section main_section">
			
			<h1>Security <sup><span class="tag blue">COMING SOON</span></sup></h1>

			<div class="panel">

				<p class="large"><strong>Security</strong> is coming soon to a Contenu CMS near you.</p>
			
				<ul>

					<li>Security Emails</li>
					<li>Account Quarantine</li>
					<li>Audit Logs</li>
					<li>And more await you!</li>

				</ul>

			</div>

		</div>
		
	</div>
	
</body>
</html>
