<footer>

	<p style="font-weight: 700;">To verify that this email or a similar email is in fact authentic, verify that the <i>from</i> email address is the address you regularly receive security emails from. If you're unsure of this email's authenticity, simple copy the links in plaintext and paste them into your URL bar.</p>

</footer>
